#plans{
    border-bottom: 1px solid $borderColorGrey;
    background-image: url('../img/page-background-img.png');
    background-size: cover;
    padding: 80px 0;
    .plans__box{
        margin-top: 80px;
        display: flex;
        .plans__list{
            border-top: 4px solid rgba( $mainColor, 0.3);
            text-align: center;
            width: 25%;
            
            li{
                list-style: none;
                padding: 15px 25px;
                color: $textGreyLight;
                border: 1px solid $borderColorGrey;
                .check--blue{
                    color: $mainColor;
                }              
            }
            li:first-child{
                padding: 25px;
                color: $textBlack;
                border-top: none;
                img{
                    width: 80px;
                    margin-bottom: 10px;
                }
                span{
                    font-size: $fontMedium;
                }
                h4{
                    margin-bottom: 10px;
                }
            }
        }
        .plans__choose:hover{
            background-color: rgba( $mainColorLight, 0.1);
            border-color: rgba( $mainColor, 0.4);
        }
        .plans__background{
            background-color: rgba( $mainColorLight, 0.1);
        }
        .border--active{
            border-color:$mainColor;
        }
        
        .plans__list:first-child{
            text-align: left;
            li:first-child{
                img{
                    opacity: 0;
                }
            }
        }
        
    }
    
}