.btn{
    padding: 15px 25px;
    text-transform: uppercase;
    background-color: $textWhite;
    border: 2px solid $borderColorGrey;
    font-size: $fontNormal;
    color: $textGreyLight;
    cursor: pointer;
    &--active{
        border-color: $mainColor;
        background-color: $mainColor;
        color: $textWhite;
        &:hover{
            border-color: $mainColorLight;
            background-color: $mainColorLight;           
        }
    }
}