*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    width: $containerNormal;
    &.container--small{
        width: 70%;
    }
}
.back__top{
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background-color: $mainColor;
    color: $textWhite;
    font-size: $fontNormal;
    outline: none;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    i{
        font-size: $fontMedium;
        display: block;
    }
    &.back__top--active{
        display: block;
    }
}

section{
    margin: 80px 0;
}
.section__title{
    text-align: center;
    p{
        font-size: $fontNormal;
        color: $textGreyDark;
    }
}
.bullet{
    width: 100%;
    text-align: center;
    .bullet__dot{
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.6;
        margin-right: 10px;
        &.bullet__dot--active{
            opacity: 1;
        }
        &.dot__white{
            background-color: $textWhite;
        }
        &.dot__main--color{
            background-color: $mainColor;
        }
    }
    
}

