footer{
    background-color: $footerBackground;
    padding: 50px 0 10px;
}
.footer__link{
    display: flex;
    border-bottom: 1px solid $textFooterBottom;
    ul{
        width: 25%;

        li{
            margin-bottom: 25px;
            font-size: $fontSmall;
            list-style: none;
            padding-right: 20px;
            color: $textWhite;
            opacity: 0.7;
            a{
                cursor: pointer;
                text-decoration: none;
                color: $textWhite;
                font-size: $fontSmall;
            }
            a:hover{
                cursor: pointer;
                text-decoration: underline;
            }
            img{
                width: 80%;
            }
            p a{
                font-size: 18px;
                display: block;
                margin-bottom: 5px;
            }
            p span{
                
                font-size: $fontSmall;
            }


        }
        li:first-child{
            opacity: 1;
            font-weight: 700;
            font-size: 22px;
        }
        li:first-child img{
            width: 40%;
        }
        li i{
            margin-right: 8px;
        }
        &:first-child li:not(:nth-child(2)){
            opacity: 1;
        }
    }
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    color: $textFooterBottom;
    font-size: $fontSmall;
}
.contacts{
    display: flex;
    span{
        margin-right: 20px;
        font-size: $fontSmall;
    }
    ul li{
        display: inline-block;
        margin-left: 15px;
    }
    a{
        color: $textFooterBottom;
    }
}