header{
    position: relative;
    color: $textWhite;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

    &.background--1{
        background-image: url('../img/h5-slide-1-background.jpg');
    }
    &.background--2{
        background-image: url('../img/h5-slide-2-background.jpg');
    }
    &.background--3{
        background-image: url('../img/h5-slide-3-background.jpg');
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .main__nav{
        display: flex;
        justify-content: space-between;
        font-size: $fontNormal;
        .nav__link{
            li{
                display: inline-block;
                margin-right: 35px ;

                a{
                    color: $textWhite; 
                    text-decoration: none;
                }
                a:hover{
                    color: $mainColor;
                    cursor: pointer;
                }
            }
            
        }
        .nav__icon i:not(:last-child){
            margin-right: 20px;
        }

    }
}
.title{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );

    p{
        margin: 35px 0;
        line-height: 35px;
    }
}
