.possibilities__box{
    display: flex;
    .list__choose{
        width: 30%;
        li{
            list-style: none;
            border: 1px solid $borderColorGrey;
            width: 100%;
            &:not(:first-child){
                border-top: none;
            }
        }
        .button__choose{
            width: 100%;
            padding: 25px;
            text-align: left;
            background-color: $backgroundWhite;
            border: none;
            border-left: 5px solid transparent;
            font-size: $fontMedium;
            color: $textGreyDark;
            &.button__choose--active,
            &:hover{
                border-color: $mainColor;
                background-color: $backgroundLight;
                color: $mainColor;
            }
            &:hover {
                cursor: pointer;
            }
        }

        
    }
    .list__box{
        width: 70%;
        padding: 20px 80px 20px 40px;
        .choose__content{
            position: relative;
            p{
                color: $textGrey;
                margin-bottom: 30px;
                i{
                    color: $mainColor;
                    margin-right: 5px;
                }
            }

            .content__text{
                line-height: $lineParagraph;
                margin-bottom: 50px;
            }
            img{
                position: absolute;
                width: 150px;
                bottom: -80px;
                right: 30px;
            }
        }
        
    }
}