@media screen and (max-width: 1650px) {
    .container{
        width: $containerMedium;
    }
}
@media screen and (max-width: 1400px) {
    .container{
        width: $containerSmall;
    }
    h4{
        font-size: $fontNormal;
    }
    .logo{
        img{
            width: 70%;
        }
    }
    nav{
        .main__nav{
            font-size: $fontSmall;
        }
    }
    
}
@media screen and (max-width: 1200px) {
    .container{
        width: $containerUltraSmall;
    }
}