@media screen and (max-width: 1650px) {
    .container{
        width: $containerMedium;
    }
}
@media screen and (max-width: 1400px) {
    .container{
        width: $containerSmall;
    }
    .nav__link{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .container{
        width: $containerUltraSmall;
    }
}