@media screen and (max-width: 1650px) {
    .container{
        width: $containerMedium;
    }
}
@media screen and (max-width: 1400px) {
    .container{
        width: $containerSmall;
    }
    h3{
        font-size: 35px;
    }
    h4{
        font-size: $fontNormal;
    }
    .logo{
        img{
            width: 70%;
        }
    }
    nav{
        .main__nav{
            font-size: $fontSmall;
            .nav__link{
                li{
                    margin-right: 25px;
                }
            }
            .nav__icon{
                display: none;
            }
        }

    }
    
}
@media screen and (max-width: 1200px) {
    .container{
        width: $containerUltraSmall;
    }
    // header
    .logo{
        width: 25%;
        img{
            width: 80%;
        }
    }
    // /header
    // categories
    .categories__box{
        .category{
            padding: 30px 0;
        }
        h4{
            font-size: $fontSmall;
        }
    }
    // /categories
    // empower
    .empower__box{
        .empower__numbers{
            p{
                font-size: 30px;
            }
        }
    } 
    // /empower
    // possibilities
    .possibilities__box{
        .list__box{
            .choose__content{
                img{
                    width: 100px;
                    bottom: -100px;
                }
            }
        }
    }
    // /possibilities
}