// font color
$mainColor: #40c4ff;
$mainColorLight: #9ce0ff;
$textWhite: #ffffff;
$textGrey: #b9b9b9;
$textGreyLight: #cecece;
$textGreyDark: #808080;
$textBlack: #303030;
$borderColorGrey: #efefef;
$textFooterBottom: #959595;

// background color
$footerBackground: #222222;
$backgroundWhite: #fff;
$backgroundLight: #f7fdff;

// font size
$fontNormal: 17px;
$fontBig: 45px;
$fontMedium: 25px;
$fontSmall: 14px;

// line Height
$lineParagraph: 30px;

// container size
$containerNormal: 1600px;
$containerMedium: 1350px;
$containerSmall: 1100px;
$containerUltraSmall: 800px;

// mixin
@mixin positionAbsolute ($top, $right, $bottom, $left) {
    position: absolute; 
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
 }