// font color
$mainColor: #40c4ff;
$mainColorLight: #9ce0ff;
$textWhite: #ffffff;
$textGrey: #cecece;
$textBlack: #303030;
$borderColorGrey: #efefef;
$textFooterBottom: #959595;

// background color
$footerBackground: #222222;

// font size
$fontNormal: 20px;
$fontBig: 28px;
$fontSmall: 14px;

// container size
$containerNormal: 1600px;
