// font color
$mainColor: #40c4ff;
$mainColorLight: #9ce0ff;
$textWhite: #ffffff;
$textGrey: #b9b9b9;
$textBlack: #303030;
$borderColorGrey: #efefef;
$textFooterBottom: #959595;

// background color
$footerBackground: #222222;

// font size
$fontNormal: 18px;
$fontBig: 45px;
$fontSmall: 14px;

// container size
$containerNormal: 1600px;
$containerMedium: 1350px;
$containerSmall: 1100px;
$containerUltraSmall: 800px;
